{% extends 'base.html' %}

{% block body %}
<div class="row">
<div class="col-md-4">

</div>
<div class="col-md-4 mt-5">

  <div class="card shadow card1 text-center">
    <h4>Are you sure to Delete?</h4>
    <form method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-warning btn2 mt-3" value="Yes"> &nbsp;
      <input type="button" class="btn btn-primary btn2 mt-3" onClick="javascript:history.go(-1);" value="No">
    </form>
  </div>

</div>
<div class="col-md-4">

</div>
  </div>
{% endblock %}